/**
 * partials/header
 * ---
 */


// Header container
.header {
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	height: auto;
	padding: 1rem 3rem;
	overflow: hidden;
	background: rgba(0,0,0,0.2);
	z-index: 3;
	transition: background-color 0.2s;
	&:hover{
		background-color: rgba(0,0,0,0.9);
	}
	.logo {
		width: 17rem;
		float: left;
		padding-top: 0.3rem;
	}
	.mobile-menu-toogler{
		display: none;
		cursor: pointer;
	}
}

// Logo
.logo {}

.logo-img {}
