/**
 * partials/responsive
 * ---
 */

@media only screen and (max-width:1200px) {
	.home-content-section-light {
		.home-content-sub-wrapper{
			width: 75%;
		}
	}
	.home-content-section-light {
		.home-content-section-devider-left{
			width: 75%;
		}
	}
	.home-content-section-light {
		.client-logos{
			width: 90%;
		}
	}
}
@media only screen and (max-width:1024px) {
	html{
		font-size: 50%;
	}
	.home-head-section{
		.home-head-content{
			width: 65%;
		}
	}
}

@media only screen and (max-width:768px) {
	.header{
		.logo{
			width: 12rem;
			position: relative;
			z-index: 4;
		}
		.mobile-menu-toogler{
			display: block;
			float: right;
			margin-top: 0.5rem;
			position: relative;
			z-index: 4;
		}
		&.mobile-active{
			background-color: $black;
			.nav{
				top: 7rem;
			}
		}
	}
	.nav{
		padding: 1.432rem 0 3rem 0;
		text-align: center;
		width: 100%;
		background: #191c24;
		position: fixed;
		width: 100%;
		left: 0;
		top: -40rem;
		z-index: 2;
		border-bottom: 1px solid $grey;
		ul{
			margin: 0;
			display: block;
			li{
				margin: 0;
				display: block;
				padding-top: 0.5rem;
				padding-bottom: 0.5rem;
			}
		}
		ul.language-switcher{
			li{
				display: inline;
			}
		}
	}
	.home-head-section{
		.home-head-content{
			width: 95%;
		}
	}
	.home-content-section-dark{
		padding: 10rem 0;
	}
}

@media only screen and (max-width:680px) {
	.home-head-section{
		.home-head-content{
			width: 100%;
			padding: 0 5%;
			h1{
				text-align: center;
				max-width: 100%;
			}
			h2{
				text-align: center;
				max-width: 100%;
			}
			p{
				text-align: center;
			}
		}
	}
	.home-content-section-light {
		.home-content-sub-wrapper{
			width: 90%;
		}
	}
	.home-content-section-light {
		.home-content-section-devider-left{
			width: 90%;
		}
	}
}


@media only screen and (max-width:520px) {
	.home-head-section{
		.home-head-content{
			h1{
				font-size: 3.5rem;
			}
			h2{
				font-size: 2rem;
			}
			p{
				font-size: 1.4rem;
			}
			.cta_sentence a{
				display: block;
				font-size: 1.4rem;
				width: 100%;
			}
		}
	}
	.home-content-section-dark, .home-content-section-light{
		padding: 7rem 0;
		h3{
			font-size: 2.7rem;
		}
		p{
			font-size: 1.8rem;
		}
	}
}
