/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$font-size-base: 140%;
$line-height-base: 1.5;

$font-regular: "sinkin_sans400_regular", sans-serif;
$font-light: "sinkin_sans100_thin", sans-serif;

/**
 * Colors
 */

$text-color: #444;
$body-bg: #fff;
$selection-bg: #04A4CC;


$black: #191c23;
$red: #cf1645;
$blue: #0d92fa;
$grey: #4f5661;
$white: #ffffff;






/**
 * Grid
 */

$wrapper-width: 1280px;


$padding-horizontal-base: 5px;
$padding-vertical-base: 5px;
$margin-horizontal-base: 5px;
$margin-vertical-base: 5px;
$margin-horizontal-large: 15px;
$margin-vertical-large: 15px;